@import "tailwindcss";

body {
  font-family: monospace !important;
  color: red;
}

/* .new-message-button {
  padding: 12px;
  border: solid black 2px;
  border-radius: 6px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 16px;
  margin: 24px;
  background-color: hsl(0, 0%, 95%);
  width: fit-content;
} */


