<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body
    class="flex min-h-screen flex-col items-center justify-between bg-neutral-700 text-black sm:p-8 sm:pb-0"
  >
    <div
      class="flex w-full max-w-[1280px] flex-col gap-12 bg-neutral-100 px-12 py-12"
    >
      <header>
        <h1
          class="text-center text-3xl font-normal italic sm:text-5xl sm:font-light"
        >
          Page Not Found
        </h1>
      </header>

      <main class="text-center">
        <a href="./" class="font-medium text-blue-500 hover:underline"
          >Go back</a
        >
      </main>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
