<footer id="footer">
  <span id="signature"
    >Mariusz Ciastoń 2025  
    <a href="https://github.com/mariuszciaston/" target="_blank" rel="noopener"
      ><i class="fab fa-github fa-2x" aria-hidden="true"></i
    ></a>
  </span>
</footer>
